:root {
    color-scheme: dark;
}

::selection {
    background: #9ff8a0;
    color: #000;
}

body {
    margin: 0;
    background: #000;
    font-family: 'Major Mono Display', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
